
#name,#template{
  margin-bottom: 0rem;
  margin-top: 0rem;
  
}
#main{
  display: flex;
  width: auto;
}

#template{
  max-height: 100%;

}
html{
  height:100%;
}
body{
  height: 100%;

}
#scroll{
  overflow-x: scroll;
  width: 1800px;
  display: none;
}

.extend{
  width: 5px;
  height: 5px;
  margin-right:0px ;
  margin-left:0px ;
  position: absolute;
  z-index: 20px;
  background-color: rgb(255, 255, 255);
}
#name-container{
  position: absolute;
  z-index: 10;
  background-color: #dfa754;
  /* cursor:crosshair; */
}
.tl{
  top: -5px;
  left: -5px;
  cursor: nw-resize;
}

.tr{
  top: -5px;
  right: -5px;
  cursor: ne-resize;
}
.bl{
  bottom: -5px;
  left: -5px;
  cursor: sw-resize;
}
.br{
  bottom: -5px;
  right: -5px;
  cursor: se-resize;
}
#name{
  position: absolute;
  /* z-index: 20; */
  cursor:move;
}
#App{
  
  
height:655px;
  
  background-blend-mode:color-dodge;
  
  background-size:cover;
 
}

#alertcsv{
  color: #a2f3ff;
padding-top: 0rem;
margin-top: 0px;


}
#uploadcard{
  background-image: radial-gradient(rgb(30, 137, 124),rgb(162, 213, 204));

}
#outer{
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}
.postbuttons{
  width: 200px;
  padding: 0.5rem 1rem 0.5rem 1rem;
}
#down{
  width:100%;
  height:fit-content;
  background-color: #80949882;
  
}

.disabled{
  pointer-events: none;
  background-color: rgb(204, 204, 204);
  color: rgb(240, 240, 240);
}

.flexit{
  display: flex;
}

#modal{
  background-color: #eb0ea8;
}
#image_input{
margin-top: 10px;
display: table;
margin:0 auto;
/* text-align: center; */
font-size: 1.2rem;
font-family: 'Times New Roman', Times, serif;


}
#guidelines{
 
  
  color: rgb(0, 0, 0);
}

#uploadtitle{
  text-align: center;
  margin-top: 0.8rem;
}

#guide{
  margin-top: 120px;
margin-left: 100px;
font-size: 1.1rem;

}
.red{
  color: rgb(255, 255, 255);

  font-size: 1.2rem;
}
#capture img{
 
  height: auto;
  margin-right: 3.3rem;
}

#guidelines{
  display:flex;
}
#advo{
  display: none;
}

 #side-panel{
 
  background-color: #137298c7;
  color: aliceblue;
  width: 290px;
  padding-left: 0.6rem;
height:100% ;
top: 0px;
position: fixed;
border-top-left-radius: 0.8rem;
border-bottom-left-radius: 0.8rem;
right: 0;

  transition: visibility 0s, opacity 0.8s linear; 
 transition: all 0.8s ease-in-out ; 

transform: translate3d(236.5px,0,0); 

display: flex;
 } 

 
 #side-panel img{
   margin-right: 0.5rem;

 } 

  #ado{
    margin-top: 1rem;
    margin-bottom: 1rem;
  }

#controls{
  
 vertical-align: middle;
 width:fit-content;
 margin-top: 1rem;
 
  height: fit-content;
 text-align: center;

  margin-right: 0.8rem;
 
 color: snow;

}
#toggle{
  margin-top: 0.5rem;
  border-radius: 0.5rem;
  margin-bottom: 0.3rem;
}
#controls button,select,input{
 font-size: 1.2rem;
 padding-left: 1rem;
 width: 85%;
 padding-right: 1rem;
 margin-bottom: 3rem;
 
}
#controls input{
  width: 85%;
}
#csvlabel{
  font-size: 1.4rem;
}
#email,#password{
  font-size: 1.1rem;
}
#colorsbut{
 
  height:40px;
}

#down input:not(#upcsv){
  border: 1px solid;
  border-color: rgb(142, 142, 142);
  background-color: rgb(255, 255, 255);
 
  
  border-radius: 0.4rem;
  font-size: 1.1rem;
  width: 526px;
  height:40px;
  padding-left: 1rem;
}
#upcsv{

padding-top: 0.2rem;
padding-bottom: 0.2rem;
padding-left: 0px;
width: 526px;

  font-size: 1.3rem;
}
.label{
 
  text-align: center;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  border: 1px solid;
  border-color: rgb(193, 193, 193);
  border-radius: 0.4rem;
  margin-left: 1rem;
  margin-right: 1rem;
  background-color: rgb(106, 106, 106);
  color: rgb(255, 255, 255);
  width:165px
}
#down{
  padding-top: 0.3rem;
  background-color: #c0e6d2;
}
.hugetext{
  font-size: 3rem;
  margin-left: 1rem;
  /* margin-top: 0.9rem; */

  font-family: 'Quicksand', sans-serif;
}
#tools{
  margin-right: 0.1rem;
  width: 50px;
}
#side-panel button{
  font-size: 1.3rem;
  padding-left: 0.3rem;
  padding-right: 0.3rem;
 
}

#step4 button{
  font-size: 1.3rem;
}
#colors{
  width: 2rem;
  height:2rem;
  padding-left: 0rem;
  padding-right: 0rem;
  padding-top: 0rem;
  padding-bottom: 0rem;
  border: 1px solid;
border-color: #ffffff;
}
#fontselect{
  font-size: 1.2rem;
}

.fcontainer{
  display: flex;
  justify-content: space-evenly;
}

.inputs{
  display: flex;
  flex-direction: column;
}
#advanced_btn{
  margin-left: 10px;
}
#setemail,#close{
  font-size: 2rem;
 
}
#close{
  
margin-left: 90.5%;
font-size: 1rem;
  padding-left: 3rem;
  padding-right: 3rem;
  margin-top: 0.7rem;
}
.fcontainer{
 
  padding-top: 1rem;
  padding-bottom: 1rem;
  background-image: radial-gradient(rgb(58, 126, 155),rgb(71, 157, 134));
}