.slbutton{
    width:2.7rem;
    background-color: #dddddd;
    height: 0.7rem;
    margin-right: 1rem;
    border:1px solid;
    border-radius: 2rem;
    border-color: #dddddd;
  }
  button.active{
      background-color:#8e80c4;
      border-color: #dddddd;
  }