.footcontent{
   text-align: center;
  }
  footer h3{
    margin-right: 2rem;
    margin-top: 3rem;
    margin-bottom: 2rem;
  
  }
  
  footer{
    background-color: #065878d2;
    height: 135px;
    font-weight: bold;
    color:rgb(255, 255, 255);
    width:100%;
    z-index: -1;
    position:fixed;
  }
 