.footcontent{
    display: flex; 
   justify-content: center;
  }
  footer p{
    margin-right: 2rem;
    margin-top: 0.6rem;
  
  }
  .footcontent img{
   
    margin-right: 5rem;
    margin-bottom: 2rem;
  }
  footer{
    background-color: #8989bb;
background-image: linear-gradient(315deg, #8989bb 0%, #a5a4cb 74%);
/* 
      background-color: #75d3e6; */
    /* margin-top: 0rem; */
    /* height: 20%; */
    font-weight: bold;
    color:rgb(255, 255, 255);
    width:100%;
    z-index: -1;
    position:fixed;
  }
  